body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin-right: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color:rgba(255, 166, 0, 0.771);
}

.title{
    
    color:white;
    border-radius: 2px;
    background-color: #e67e22;
    padding: 20px;
    display: inline-block;
   
    margin-top: 10px;

}

.nav-links {
    margin-top:0 ;
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: large;
}
.nav-links:hover{
    cursor: pointer;
    
    
}
.Login:hover{
    
    color: rgb(105, 94, 94);
  
}
.menu:hover{
color: rgb(255, 0, 132);
}
.contact:hover{
    color: cadetblue;
}
.login:hover{
    color: darkolivegreen;
}

.hero {
    background: url('/images/Hero_img.png') top center/cover no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin-top:0%;
    ;
  }
  


.hero-content h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn {
  background-color: #e67e22;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: all 2s;
}
.btn:hover{
    background-color:chocolate ;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: larger;
    transition: background-color 5s,color 1s, font-size 2s;
}

.logo-img {
    height: 80px; /* adjust size */
    width: auto;
    
    display:inline-block;
    margin-top: 0;
  }

  .nav-box{
    display: inline-block;
  }
  .products-heading{
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  
  .Products{
display: flex;
justify-content: center;

  }
  .product-box{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 50px;
    background-color:rgb(213, 203, 184);
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 400px;
   transition: all  1s; 
    overflow:auto;
  margin-left: 20px;
  }

  .product-box:hover{
    transform: scale(1.05);
    cursor: pointer;
    
    
    
  }
  .product-img{
    object-fit:fill;
   width: 80px;
   height: 80px;
   border-radius: 50%;
  }
  h3{
    
    margin-left:5px;
    margin-right: 7px;
  }

  